<div class="container text-center pt-4 mt-2 w-50">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#calendarModal">
        Calendrier
    </button>
</div>
<div class="modal fade" id="calendarModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="calendarModalLabel">Calendrier</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">{{selectedMonth()}}</h5>
                <table class="table text-center">
                    <tbody>
                        <tr>
                            <td (click)="onSelect(1)">1</td>
                            <td (click)="onSelect(2)">2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <td>29</td>
                            <td class="text-secondary">30</td>
                            <td class="d-none">31</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex pb-1 justify-content-around">
                <button class="btn btn-danger" [disabled]="isFirst()" (click)="onPrevious()">Précedent</button>
                <button class="btn btn-danger" [disabled]="isLast()" (click)="onNext()">Suivant</button>
            </div>
            <div class="modal-footer">
                <button id="closeModalButton" type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>