<div class="container text-center pt-4 mt-2 w-50">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#calendarModal">
        Calendrier
    </button>
</div>
<div class="modal fade" id="calendarModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="calendarModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Work in progress
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>